// Frame size
$homeTopHeight: 50px;
// $bottomNavHeight: 64px;
$backHeaderHeight: 64px;
$avatarSize: 64px;
$avatarBigSize: 100px;
$tipBorderLength: 220px;


// Font size
// $mainFontSize: 14px;
// $tabFontSize: 14px;
// $tipTopFontSize: 16px;
// $tipStrongFontSize: 64px;
// $tipLinkFontSize: 14px;
// $iconFontSize: 32px;
// $primaryBtnFontSize: 16px;
// $formFontSize: 16px;
// $confirmFontSize: 20px;
// $titleFontSize: 18px;
// $briefFontSize: 14px;
// $radioFontSize: 24px;
// $svgFontSize: 24px;

// Font color
$mainHeaderFontColor: #6d6d6d;
$mainContentFontColor: #bbbbbb;
$logoFontColor: rgb(51, 51, 51);
$linkFontColor: #999;
// $navLinkFontColor: #666f83;
// $primaryBtnFontColor: #fff;
// $confirmBtnColor: #2f86f6;

// Background color
$mainBodyBgColor: #f6f6f6;
$mainContainerBgColor: #fff;
// $noticeBgColor: #fff;
// $loadingBgColor: #fff;
// $coverBgColor: rgba(255, 255, 255, 0.3);
// $bottomNavBgColor: #fff;
// $primaryBtnBgColor:#57c595;
// $mapToolBgColor: #fff;

// Border
// $tipDashedBorder: dashed 4px $linkFontColor;
// $buttonBorder: solid 1px $linkFontColor;
// $toolRightBorder: solid 1px #afaeae;

// Box-shadow
$topHeaderShadowColor: 0 3px 5px rgba(100, 100, 100, 0.2);
$toolBoxShadowColor: 0px 0px 30px #afaeae;
$boxShadowColor: 0 1px 3px rgba(26,26,26,.1);
// $boxShadowSearchColor: 0px 0px 2px #afaeae;
$avatarShadowSearchColor: 0px 0px 3px #afaeae;